.cart {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;

}

/* ------ Icon Styles ------ */

.cart-icon {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    z-index: 1;
}

.icon {
    color: var(--black);
    font-size: 4rem;
}

.cart-icon__product-ammount {
    position: absolute;
    font-size: 1.7rem;
    font-weight: 700;
    right: -.75rem;
    bottom: -1rem;
    background-color: var(--red);
    color: var(--white);
    line-height: 1;
    border-radius: 500px;
    padding: .5rem .85rem;
}

/* ------ Modal Styles ------ */

.cart-modal {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--red);
    z-index: 100;
}