.cart {}

/* ------ Icon Styles ------ */

.cart-icon {
    position: relative;
    margin-right: 2rem;
}

.icon {
    color: var(--black);
    font-size: 3rem;
}

.cart-icon__product-ammount {
    position: absolute;
    font-size: 1.4rem;
    font-weight: 700;
    right: -.75rem;
    bottom: -1rem;
    background-color: var(--red);
    color: var(--white);
    line-height: 1;
    border-radius: 500px;
    padding: .5rem .8rem;
}

/* ------ Modal Styles ------ */

.cart-modal {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--white);
    z-index: 100;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr max-content;
}

.cart-modal-nav {
    position: relative;
    display: flex;
    align-items: center;
    height: 10rem;
    margin-bottom: 2rem;
    padding: 0rem 2rem;
    justify-content: center;
}

.cart-modal-nav .btn-back {
    position: absolute;
    left: 0;
    margin-left: 2rem;
}

.cart-modal-title {
    font-size: 2.2rem;
    font-weight: 700;
    color: var(--black);
}

.cart-modal-product-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    overflow: auto;
    padding: 1rem 3rem;
}

.cart-modal-product {
    display: grid;
    grid-template-columns: 11rem 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        'img name'
        'img price'
        'img buttons';
    align-items: center;
    width: 100%;
    background-color: var(--white);
}

.cart-modal-product-img {
    grid-area: img;
    background-color: var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 11rem;
    border-radius: 2rem;
}

.cart-modal-product-img img {
    height: 60%;
}

.cart-modal-product-name {
    font-weight: 700;
    font-size: 1.7rem;
    margin-left: 2rem;
}

.cart-modal-product-price {
    color: var(--brown-light);
    font-weight: 500;
    font-size: 1.7rem;
    margin-left: 2rem;
}

.cart-modal-product-buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 2rem;
}

.product-amount-btn {
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 500px;
    line-height: 1;
    width: 2rem;
    height: 2rem;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    user-select: none;
    transition: all 0.1s ease-out;
}

.product-amount-btn:hover {
    background-color: var(--brown-light);
    color: var(--white);
}

.delete-icon {
    font-size: 2.5rem;
    margin-left: auto;
    color: var(--brown);
    cursor: pointer;
    transition: all 0.15s ease-out;
}

.delete-icon:hover {
    color: var(--brown-dark);
}

.cart-modal-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    background-color: var(--brown);
    color: white;
    padding: 1rem 2rem;

    border-radius: 3rem 3rem 0rem 0rem;
}

.cart-modal-amount {
    font-weight: 600;
    font-size: 1.8rem;
}

.cart-modal-total {
    font-weight: 800;
    font-size: 2rem;
}