.product-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    max-height: 100vh;
    /* fall-back */
    height: -moz-available;
    height: -webkit-fill-available;
    height: fill-available;
    width: 100vw;
    /* background-color: var(--grey-dark); */

    z-index: 200;
}

.product-modal__content {
    max-height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10rem 1fr max-content;
    grid-template-areas:
        'nav'
        'img'
        'info';
    justify-items: center;
    align-items: center;
    background-color: var(--grey);

    padding: 0rem 0rem;
    box-shadow: 0rem 0px 20px rgba(0, 0, 0, 0.15);
}

.nav {
    grid-area: nav;
    display: flex;
    width: 100%;
    padding: 2rem;
    justify-content: flex-start;
}

.product-modal-img {
    grid-area: img;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 1rem;

}

.product-modal-img img {
    height: 100%;
    width: 100%;
    object-fit: contain;

}

.product-modal-info {
    grid-area: info;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content max-content max-content;
    align-items: center;
    align-self: end;
    width: 100%;
    height: fit-content;
    padding: 4rem 2rem 1rem 2rem;
    background-color: var(--white);
    border-radius: 5rem 5rem 0rem 0rem;
}

.product-modal-name {
    font-size: 2rem;
    font-weight: 700;
    color: var(--brown-light);
}

.product-modal-price {
    margin-top: 1rem;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--black);
}

.product-modal-description {
    font-size: 1.2rem;
    margin-top: 1rem;
    font-weight: 500;
    color: var(--black);
    overflow: hidden;
}

.product-modal-info .btn-square--big {
    margin: 1rem 0rem;
}

@media only screen and (min-width: 1024px) {
    .product-modal {
        backdrop-filter: blur(5px) brightness(60%);
    }

    .product-modal__content {
        height: 80%;
        width: 80%;
        border-radius: 2rem;
    }

    .product-modal-info {
        grid-area: info;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content max-content max-content;
        align-items: center;
        align-self: end;
        width: 100%;
        height: fit-content;
        padding: 4rem 2rem 1rem 2rem;
        background-color: var(--white);
        border-radius: 5rem 5rem 2rem 2rem;

    }

    .product-modal-name {
        font-size: 2.2rem;
        font-weight: 700;
    }

    .product-modal-price {
        margin-top: 1rem;
        font-size: 2rem;
        font-weight: 600;
    }

    .product-modal-description {
        font-size: 1.4rem;
        margin-top: 1rem;
        font-weight: 500;
    }
}