.product-list {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    max-width: 88rem;
    gap: 2rem;
    padding: 1rem 0rem 3rem 0rem;
    z-index: 0;
}

.spinner {
    display: flex;
    justify-content: center;
    width: 100%;
}

.product-list img {
    width: 15rem;
}

@media only screen and (min-width: 600px) {
    .product-list {
        justify-content: flex-start;
    }

    .product-list img {
        width: 20rem;
    }
}

@media only screen and (min-width: 768px) {
    .product-list {}
}